
.center {
    height: 500px;
    position: relative;
}

    .center button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%);
    }

.CajaElementos500px {
    height: 500px;
    overflow-y: scroll;
    margin-top: 15px;
    border: 1px solid #c2c2c2;
}

.CajaElementos400px {
    height: 400px;
    overflow-y: scroll;
    margin-top: 15px;
    border: 1px solid #c2c2c2;
}
.CajaElementos500pxSinScroll {
    height: 500px;
    margin-top: 15px;
}

.button_hour {
    font-size: 85% !important;
    width: 3.5% !important;
    padding: 1.5px !important;
    white-space: pre-wrap;
    display: inline-block !important;
    margin-bottom: 2px !important;
}

.button_red {
    color: darkred !important;
    border: 1px darkred solid !important;
    background-color: white !important;
}


.button_green {
    background-color: forestgreen !important;
    color: white !important;
    border: 1px forestgreen solid !important;
    box-shadow: none !important;
}

.red_text {
    color: darkred;
}

.darkgreen_text {
    color: darkgreen;
}

.text_top_padding_8 {
    padding-top: 8px;
}

.div_NoVisible {
    display: none;
}

.div_margin_bottom_15 {
    margin-bottom: 15px;
}

.div_padding_l_r_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.tituloDiaEspecial {
    color: darkblue;
    display: none;
    padding-top: 15px;
    font-weight: 600;
}

.PosCheckBoxTodos {
    margin-top: 45px !important;
    margin-left: 15px !important;
}

#MySearch {
    background-image: url('images/search-icon-32.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 8px 20px 8px 40px;
    border: 1px solid #c2c2c2;
    margin-right: 5px;
    margin-bottom: 0px;
}
