
<div class='row'>
    <div id='alertsuccess' class='alert myAlertSuccess' role='alert' style='width: 600px;top:12%;right:10%; display: none;'>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <strong><span class='fa fa-check-square-o fondoAlert'>Atención</span></strong><span id='MensajeAlertSuccess' class='mensajeAlert'></span>
    </div>

    <div id='alerterror' class='alert alert-danger' role='alert' style='width: 600px;  top: 12%; left: 10%; display: none;'>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <span class='fa fa-exclamation-triangle' style='font-size:26px;color: darkred;'></span> &nbsp;&nbsp;
        <span id="MensajeAlertError"></span>
    </div>
</div>
