<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
	  		  <sessionState timeout="200"></sessionState>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="106954752" executionTimeout="120"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authentication mode="Forms">
      <forms defaultUrl="~/Login.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="120"/>
    </authentication>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- No deberíamos necesitar un valor tan grande, pero por si acaso. En la busqueda de registros de histórico viene mucha información -->
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="AlterSessionOracle" value="alter session set  nls_date_format='dd/mm/yyyy hh24:mi:ss'"/>
    <!-- CONEXIONES SQL -->
	<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=VPCSQLMS\Pre;User Id=sa;Password=T1p40N3;Connection Timeout=150;" />
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=VPCSQLMS\Developer3;User Id=sa;Password=T1p40N3;Connection Timeout=150;" />-->
    <!--add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=vpcsqltelecobro\aliseda;User Id=sa;Password=T1p40N3;Connection Timeout=150;" /-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=VPCSQLMS\ACTIVA;User Id=sa;Password=T1p40N3;Connection Timeout=150;" />-->
    <!--add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=VPCSQLMS\Demo;User Id=sa;Password=T1p40N3;" /-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=vpcsqltelecobro\servihabitat;User Id=sa;Password=T1p40N3;"/>-->
    <!--add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=VPCSQLMS\developer2;User Id=sa;Password=T1p40N3;Connection Timeout=150;" /-->
	<!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=vpcopenbank;User Id=sa;Password=T1p40N3;Connection Timeout=150;"/>-->
    <!--add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=sql.fairmoney.adlantia.com;User Id=adlantia;Password=C42kLkcHs9XNhj7sM2aa7waV6e5q3awm;Connection Timeout=150;" /-->

	  <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=172.20.49.6;User Id=tiphone;Password=aG5$Mobg6Q7@8oHJ;" />-->
    <add key="SQL" value="1"/>
    <add key="GeneralDatabaseName" value="CC_GENERAL"/>
    <add key="TiphoneDatabaseName" value="CC_TIPHONE"/>
    <add key="IVRDatabaseName" value="CC_IVR"/>
    <add key="BDEstadisticas" value="CC_ESTADISTICAS"/>
    <!-- CONEXION VPCLEROYRCO -->
    <!--add key="ConnectionString" value="Persist Security Info=True;Data Source=ADLRCO;User ID=CC_GENERAL;Password=CC_GENERAL;PROVIDER=OraOLEDB.Oracle.1;" /-->
    <!-- Entradas relacionadas con la sesión -->
    <add key="Subsistema" value="1"/>
    <add key="Setting" value="1"/>
    <add key="TiempoExpiracionCookie" value="120"/>
    <add key="arrancaLogInicio" value="0"/>
    <!-- Parámetros de configuración -->
    <!--Leroy-->
    <add key="AdministraParametros" value="0"/>
    <add key="NombreTablaParamConfig" value="RCO_FLAGS_CONTROL"/>
    <!--Grabaciones -->
    <add key="URLQueryGrabaciones" value="https://vpcpre.adlantia.com/tiphoneRecords/api/recordings/"/>
    <add key="URLConsultaGrabaciones" value="https://vpcpre.adlantia.com/tiphoneRecords/api/recordings/QueryVoiceRecord?type=Record&amp;reference="/>
    <!--<add key="URLQueryGrabaciones" value="http://vpcpre.adlantia.com/tiphoneRecords" />    
    <add key="URLConsultaGrabaciones" value="http://vpcpre.adlantia.com/tiphonerecords/QueryVoiceRecord.aspx?type=Record&amp;ref=" />-->
    <add key="RutaDescargaGrabaciones" value="C:\Temp\Grabaciones"/>
    <!-- Otros paths y URLS -->
    <add key="PathFicheroModHorarios" value="C:\\Temp\\x.txt"/>
    <!--Fichero dónde se indica si los horarios se han modificado-->
    <!-- Voice mail y e-mails -->
    <add key="URLWSConsultaVoiceMail" value="https://vpcpre.adlantia.com/tiphonerecords/QueryVoiceRecord.aspx?type=VoiceMail&amp;ref="/>
    <add key="PathUbicacionMails" value="http://ADL8269/AdjuntosCorreo"/>
    <!-- Respuesta automática y templates se usa para email que no tenemos activo ni sabemos si funciona. Si no se usa en un tiempo se eliminará -->
    <add key="URLWSSubirFicherosRespuestaAutomatica" value="http://vpcpre.adlantia.com/SubirFicheros/SubirFicheros.svc/"/>
    <add key="PathUbicacionFicherosRespuestaAutomatica" value="http://vpcpre.adlantia.com/FicherosRespAutom/"/>
    <add key="IdentificadorRutaFicherosRespuestaAutomatica" value="FicherosRespAutom"/>
    <add key="PathUbicacionLocalFicherosTemplate" value="\\vpcpre.adlantia.com\inetpub\wwwroot\ManteniWeb\FicherosRespAutom"/>
    <add key="URLUbicacionLocalFicherosTemplate" value="http://vpcpre.adlantia.com/FicherosRespAutomManteniWeb/"/>
    <!-- Encaminamiento -->
    <add key="URLWSSubirFicherosEncaminamiento" value="http://vpcpre.adlantia.com/SubirFicheros/SubirFicheros.svc/"/>
    <add key="PathUbicacionFicherosEncaminamiento" value="http://vpcpre.adlantia.com/FicherosEncaminamiento"/>
    <add key="IdentificadorRutaFicherosEncaminamiento" value="FicherosEncaminamiento"/>
    <!--Fecha cero para reprogramaciones. El persuader tiene como cero 1899-12-30 y C# genera como cero 1900-01-01. Hay que poner como fecha cero la del persuader y el dia que este se pase a c# se cambia -->
    <!--add key="FechaCeroReprogramaciones" value="30/12/1899" /-->
    <add key="FechaCeroReprogramaciones" value="Persuader"/>
    <!-- Cambios en caliente -->
    <add key="ProcessTimeOut" value="10000"/>
    <add key="NumeroReintentosCC" value="3"/>
    <!-- Solo para debug. Mostrar querys que se usan. 0 no mostrar 1 mostrar -->
    <add key="MostrarTodasQuerys" value="1"/>
    <!-- Ruta de acceso a MantPersuaderAPI -->
    <add key="WSMantPersuaderURL" value="https://vpcpre.adlantia.com/MantPersuaderApi/api/v1.0"/>
	  <!--<add key="WSMantPersuaderURL" value="https://localhost:44364/MantPersuaderApi/api/v1.0"/>-->

	  <add key="RutaCargaFicherosMantPersuader" value="\\vpcservihabitat\c$\Temp\FicherosToImp"/>
	  <!--<add key="RutaCargaFicherosMantPersuader" value="c:\Temp\FicherosToImp"/>-->
    <!--  NUEVO PARAMETRO 07-02-2021 -->
    <add key="RutaReglasGrabacionPosSatelite" value="c:\Temp"/>
    <add key="NombreFicheroReglasPosSatelite" value="VRSateliteCustomSettings"/>
    <add key="InformeEstadosRegistros" value="1"/>
    <!-- PARA LEROY. OPERADORES QUE PUEDEN ADMINISTRAR CENTROS, SI ESTA VACÍO TODOS, sino solo los que esten en value -->
    <!--
      <add key="OperadoresCentrosLeroy" value="" />-->
    <!-- Tiempo de espera por defecto de las alertas, en milisegundos-->
    <add key="TiempoEsperaAlertas" value="2500"/>
    <!-- Aplicar o no la estructura jerarquica -->
    <add key="AplicarModeloOrganizativo" value="0"/>
    <!-- Valor para controlar si buscar el numero de registros de una campaña en el listado de campañas. En sitios con muchas campañas con gran catidad de registros tarda en cargarse
       Solo se realizará la consulta si el número de campañas activas es menor o igual al valor especificado -->
    <add key="MostrarRegistrosCampana" value="1"/>
    <!-- CERTIFICADOS DE GRAB_ACIONES -->
    <add key="RutaCertificadosWindows" value="C:\Temp\OpenSSl_pruebas"/>
    <!-- En esta ruta es donde guardaremos el certificado en el linux para que el sistema pueda acceder y donde están los ficheros de configuración -->
    <add key="RutaConfiguracionAsterisk" value="\\192.168.1.159\Configuracion"/>
    <!--Ruta donde está instalado OpenSSL, necesario para saber si los certificados y contraseña son correctos -->
    <add key="RutaOpenSSL" value="C:\Program Files\OpenSSL-Win64\bin"/>
    <!-- DE MOMENTO MIENTRAS SE CORRIGE LA PARTE DE PERMISOS DE ADMIN DE CAMPAÑAS  Y PARA GRUPO BC 
       SOLO SE USARÁ SI EL OPERADOR ADMINISTRA SOLO CAMPAÑAS Y EL VALOR ESTÁ A S-->
    <add key="OcultaNodoCampana" value="N"/>
    <!-- Ruta para que me devuelva los chats almacenados. Se usa en Grabaciones y en Gestiones Fuera de Servicio -->
    <add key="UrlObtenerChat" value="https://vpcpre.adlantia.com/ChatFileApi/api/chats/"/>
    <!-- SECURITY CENTER -->
    <add key="SecurityCenterUrl" value="https://vpcpre.adlantia.com/SecurityCenter"/>
    <add key="SecCenter_client_id" value="ManteniWeb"/>
    <add key="SecCenter_client_secret" value="fiJnJKSi3EeH5S0AT6CGA"/>
    <add key="SecCenter_scope" value="mantpersuaderapi.admin"/>
    <!-- Parametro Order by por defecto de Persuader -->
    <add key="OrderByPersuader" value="ORDER BY A.prioridad DESC, A.peso DESC, A.cliente_id, B.peso DESC, B.prioridad DESC"/>
    <!-- Ruta donde se gRutaMensajesAsteriskraban los mensajes que se reproducen -->
    <add key="RutaMensajesTiphone" value="\\CRK8269\Temp\Tiphone"/>
    <add key="RutaMensajesAsterisk" value="\\CRK8269\Temp\Tiphone\Asterisk"/>
    <add key="RutaDestinoMensajesAsterisk" value="/TiphoneAsterisk/sonidos"/>
    <add key="UsarOperadorExtendido" value="0"/>
    <!-- necesario para vitaldent, se podría usar en otros clientes. Mostrar el campo descripción en vez del alias de la campaña. Valores 1 sí 0 no-->
    <add key="MostrarDescripcion" value="1"/>
    <!-- Idioma de la aplicación -->
    <add key="InitialSystemLanguage" value="es"/>
    <!-- Mantenimiento de plantillas en twilio o meta -->
    <add key="EndPointPlantillas" value=" https://vpcpre.adlantia.com/ChatServer/Plantilla/"/>
    <add key="FormatDate" value="dd/MM/yyyy"/>
    <add key="FormatDateTime" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="UsarSecurityToken" value="N"/>
    <add key="UsuarioToken" value="adlantia"/>
    <add key="ContrasenaToken" value="T1p40N3"/>
    <add key="QueryTimeout" value="520"/>
	<!-- Endpoint para leer los mails asociados a una gestion -->
	<add key="EndpointVerEmail" value="https://vpcpre.adlantia.com/ChatServer/SendEmail/"/>
	  <add key="OcultarBuscadorHistoricoRegistros"  value="S" />
	  <add key="OperadoresAccesoHistoricoRegistros" value=""/>
	 <!-- Parametros para limitar las fecha de búsqueda de grabaciones -->
	  <add key="LimitarFechasGrabaciones" value="N"/>
	  <!-- Valores posibles: D (días), M (meses), A (años) N (sin limitar -->
	  <add key="TipoLimitacionGrabaciones" value="D"/>
	  <add key="ValorLimitacionGrabaciones" value="7"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.23.4.0" newVersion="3.23.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.0.2.0" newVersion="2020.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4" publicKeyToken="2186fa9121ef231d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authorization" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Routing" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.7.2.0" newVersion="0.7.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
		  <conversionPattern value="%date %-5level [%property{UserId}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\\Temp\\Logs\\ManteniWeb\\%property{LogName}"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%property{UserId}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="106954752"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 5915BDB1-00B1-4016-BF82-790E7899AAF3-->