


<div class="col-lg-2 col-md-2 col-sm-2" style='text-align:left;' collapse width show" id="LeftPanel">
    <div class="visible-lg visible-md ">
        <ul id="VerticalPill_opciones" class="nav nav-pills nav-stacked VerticalPillMenuRegistro">
            <li></li>
            <li class="RowAccionesSiempreVisibles" style="">
                <a href="#" role="button" id="OptionButtonVP_15" class="" onclick="NuevoCalendario();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-plus visible-lg visible-md visible-xs" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Nuevo </div>
                    </div>
                </a>
            </li>
            <li class="EdicionMultiple" style="display: none;">
                <a href="#" role="button" id="OptionButton_3" class="" onclick="EliminarCalendario();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-trash-o visible-lg visible-md visible-xs dark-red-text" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Eliminar</div>
                    </div>
                </a>
            </li>
            <li class="EdicionSimple" style="display: none;">
                <a href="#" role="button" id="OptionButton_4" class="" onclick="EditarCalendario();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-edit visible-lg visible-md visible-xs darkgreen-text" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Editar</div>
                    </div>
                </a>
            </li>
            <li class="EdicionSimple" style="display: none;">
                <a href="#" role="button" id="OptionButton_4" class="" onclick="CopiaCalendario();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-calendar-plus-o visible-lg visible-md visible-xs" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Copiar</div>
                    </div>
                </a>
            </li>
            <li class="RowAccionesSiempreVisibles" >
                <a href="#" role="button" id="OptionButton_5" class="" onclick="Horarios();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-clock-o visible-lg visible-md visible-xs" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Horarios</div>
                    </div>
                </a>
            </li>
            <li class="RowAccionesSiempreVisibles" >
                <a href="#" role="button" id="OptionButton_6" class="" onclick="DiasEspeciales();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-calendar-times-o visible-lg visible-md visible-xs" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Días especiales</div>
                    </div>
                </a>
            </li>
            <li class="RowAccionesSiempreVisibles" style="">
                <a href="#" role="button" id="OptionButtonVP_15" class="" onclick="RetrocederPaginaMVC();">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-arrow-left visible-lg visible-md visible-xs" aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-10">Volver</div>
                    </div>
                </a>
            </li>
            <li></li>
        </ul>
    </div>
</div>

