
<div class="col-sm-2 col-md-2 col-lg-2" style="text-align:left;" id="LeftPanel">
    <div class="visible-lg visible-md ">
        <ul id="VerticalPill_opciones" class="nav nav-pills nav-stacked VerticalPillMenuRegistro">
            <li></li>
            <li class="RowAccionesSiempreVisibles" style="">
                <a href="#" role="button" id="OptionButtonVP_15" class="" onclick="RetrocederPaginaMVC();">
                    <div class="row" style="display: inline-flex;">
                        <div class="col-lg-2 col-sm-2">
                            <span class="fa fa-arrow-left ratonEncima  visible-lg  visible-md  visible-xs " aria-hidden="true"></span>
                        </div>
                        <div class="col-lg-10 col-sm-11">Volver</div>
                    </div>
                </a>
            </li>
            <li></li>
        </ul>
    </div>
</div>



